.bugs-container {
  .page-heading {
    font-size: 1.2rem;
    border-bottom: solid 3px $color-2;
  }

  &--contents {
    padding: 20px 0;
  }
}

.modifications-container {
  @extend .bugs-container;
  margin-top: 2rem;
}

.primary-card-heading {
  font-size: 1.2rem !important;
  border-bottom: solid 3px $color-2;
}