.project-form {
  @include full-page;
  @include cc-1;
  padding-top: 100px;
  animation: fade 0.2s ease-in;
  overflow: hidden;

  svg {
    cursor: pointer;
  }

  .page-heading {
    padding: 50px 100px 0 100px;
    padding-bottom: 0;
    animation: fadeIn 0.3s ease-in;
  }

  .form {
    @include flex-col;
    padding: 100px;
    animation: fadeIn 0.5s ease-in;
  }
}

.close-btn {
  @include abs-1;
  padding: 15px;
  z-index: 101;

  svg {
    stroke: $text-color-1;
  }
}

@media screen and (max-width: 768px) {
  .project-form {
    .page-heading {
      padding: 5px 30px 0 30px;
    }

    .form {
      padding: 30px;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
