.fade-enter {
  opacity: 0;
  visibility: hidden;
  transition: all ease 1s;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  visibility: visible;
  transition: all ease 1s;
}

.fade-exit {
  visibility: visible;
  opacity: 0;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  visibility: hidden;
  transition: all ease 1s;
}
