@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

$font: "Raleway", sans-serif;

/** Colors */
$color-1: #16697a;
$color-2: #ffa62b;
$color-3: #393e46;

$text-color-1: white;
